__pycache__/
*.py[cod]
.venv/
venv/
env/
Lib/
Lib/site-packages
Scripts/
Include/
pyvenv.cfg

.env
.env.*
!.env.example

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


build/
dist/


.DS_Store
Thumbs.db
